<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :book_name %>

    <%= form.label :image %>
    <%= form.file_field :image, id: :book_image %>

    <%= form.label :description %>
    <%= form.text_area :description, id: :description_name %>

    <%= form.label "Жанр" %><br />
    <%= form.collection_select :category_ids, Category.all, :id, :name, {}, { multiple: true } %>

    <%= form.label "Автор" %><br />
    <%= form.collection_select :author_ids, Author.all, :id, :name, {}, { multiple: true } %>


    <p>
      <input type="checkbox" id="terms">
      <label for="terms">I have read the terms of use</label>
    </p>
  </div>



  <div class="actions">
    <%= form.submit id: "send" %>
  </div>
<% end %>

<script>
  $(function () {
      var button = $('#send');
      button.attr('disabled', 'disabled');
      $('#terms').change(function (e) {
          if (this.checked) {
              button.removeAttr('disabled');
          } else
              button.att('disabled','disabled');

      })
  })
</script>
