<%= form_tag(books_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], placeholder: "Ищите книгу? напечатайте, например 'new one'" %><br>
<br>
    <%= submit_tag 'Search', name: nil %>
<% end %>


<div class="container">
  <div class="box">
    <% @books.each do |book| %>
        <div>
          <%= link_to book.name, "/books/#{book.id}" %><br>

          <%= image_tag book.image.url(:thumb) %> <br>



          <% book.categories.each do |cat| %>

              <%= link_to cat.name, "/categories/#{cat.id}" %> <br>
          <% end %>
          Отзывов: <%= book.comment.count %><br>





          <div class="review-rating" data-score=" <%= book.comment.average(:rating).to_i %>"></div>

        </div>
    <% end %>
  </div>
</div>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

