<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @book.image.url(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>


<p>
  <strong>User:</strong>
  <%= @book.user.email %>
</p>

<p>
  <strong>Created:</strong>
  <%= @book.created_at %>
</p>


<p><b>Категория:</b><br>
  <% @book.categories.each do |cat| %>
      <%= cat.name %> <br>
  <% end %>
</p>

<p><b>Автор:</b><br>
  <% @book.authors.each do |author| %>
      <%= author.name %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>



<div class="row">
  <div class="span6 offset3">
    <%= form_for(:comment, url: comments_path) do |f| %>

        <div id="rating-form">
          <label> Rating </label>
        </div>

        <%= f.label :comment %>
        <%= f.text_area :comment %>

        <%= f.hidden_field :book_id, :value => @book.id %>

        <%= f.submit "Добавить комментарий", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
</div>

<% @book.comment.each do |comment| %>
    <div id="comment-<%=comment.id%>">
      <li>
        <p>
        <div class="review-rating" data-score="<%= comment.rating %>"></div>

        </p>
        <p>
          <i><%= comment.user.email %> said(<%= comment.created_at %>):</i> <%= comment.comment %>
        </p>

         <% if comment.user_id == current_user.id %>
        <%= link_to "Удалить", comment, method: :delete, class: "btn btn-primary", remote: true %>
            <% end %>

      </li>
    </div>
<% end %>


<script>
  $('.review-rating').raty({
      readOnly: true,
      score: function () {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
</script>

<script>
    $('#rating-form').raty({
        path: '/assets',
        scoreName: 'comment[rating]'
    });
</script>