@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

.categories {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;

  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.container{
  // overflow:hidden;
  width: 100%; float: left;
}
.box{white-space:nowrap}
.box div{
  width:140px;
  // display:inline-block;
  border:1px solid #ebebeb;
  margin: 5px;
  padding: 5px;
  float: left; width: 18%;
}
