<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<div class="container">
  <div class="box">
    <% @books.each do |book| %>
        <div>
          <%= link_to book.name, "/books/#{book.id}" %><br>

          <%= image_tag book.image.url(:thumb) %> <br>



          <% book.categories.each do |cat| %>

              <%= link_to cat.name, "/categories/#{cat.id}" %> <br>
          <% end %>
          Отзывов: <%= book.comment.count %><br>





          <div class="review-rating" data-score=" <%= book.comment.average(:rating).to_i %>"></div>

        </div>
    <% end %>
  </div>
</div>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

